/* ===============
	CODE
=============== */

code {
  overflow: auto;
  white-space: pre;
  word-wrap: break-word;
  word-break: break-all;
  font-family: monospace;
  font-size: 12px;
}

.inline-code {
  font-size: 15px;
  background-color: #eef;
  padding-left: 4px;
  padding-right: 4px;
}