/* ===============
	PRE
=============== */

pre {
  overflow: auto;
  padding: 15px;
  font-size: 14px;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  font-family: Courier, monospace;
  line-height: 22px;
}